<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.2</string>
	<key>CFBundleDisplayName</key>
	<string>MobileCenterDemoApp</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>LaunchScreen</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Update some data</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Share with some data</string>
	<key>CFBundleName</key>
	<string>MobileCenterDemoApp</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>CFBundleIdentifier</key>
	<string>com.mobilecenterdemoapp.xamarin</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>mobile.twitter.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>Custom Property</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>healthkit</string>
		<string>armv7</string>
	</array>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.mobilecenter.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mobilecenter</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
